:root {
    /*background do cabeçalho e do rodapé*/
    --div-background-color: #0c0c0c;
    /*cores dos ícones do rodapé, do hover e pseudo elemento (linha que aparece quando passa o mouse)*/
    --letras: whitesmoke;
}

.subcabecalho-animais {
    background-image: url(../fotos-animais/20200704155239_IMG_0031.jpg);
    height: 60vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
}

.subcabecalho-animais::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.13);
}

.conteudo-subcabecalho-animais {
    color:var(--letras);
    text-align: center;
    font-weight: 400;
    position: absolute;
    border-radius: 10px;
    padding: 10px;
}

.subcabecalho-animais h1 {
    text-shadow: 5px 5px 5px var(--div-background-color);
    letter-spacing: 5px;
    text-transform: uppercase;
}

.subcabecalho-animais h4 {
    letter-spacing: 2px;
    color: var(--letras);

}

.container-galeria_animais {
    background-image: url(../sobre-fotos/fundo.jpg);
    width: 100%;
    column-count: 3;
    column-gap: 5px;
    text-align: center;
    overflow: hidden;
    padding: 5%;
    background-attachment: fixed;
    margin-bottom: 250px;
}