/*Reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Estilizar barra de rolagem*/
::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.795);
}

::-webkit-scrollbar {
    width: 10px;
    background: rgba(0, 0, 0, 0.795);
}

::-webkit-scrollbar-thumb {
    background: #6c63ff;
}

/*-----------------------------------------------------*/

html,
body {
    font-size: 14pt;
    font-family: "Colfax", sans-serif;
    font-weight: 400;
    width: 100%;
    height: 100%;
    background-color: #171a21;
    scroll-behavior: smooth;



}

a {
    text-decoration: none;

}

/*barra que contem o logo e o menu */
.container-cabecalho {
    background: #171a21;
    display: flex;
    z-index: 200;
    box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.664);
    position: fixed;
    width: 100%;


}

.container-cabecalho img {
    margin-top: 5px;
    margin-left: 40px;
    width: 55px;
    height: auto;
    opacity: 1;

}

.container-cabecalho img:hover {
    opacity: 0.8;
}


/*ul*/
.menu {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    margin-right: 1em;
    font-size: 10pt;


}

.barravertical {
    width: 2px;
    height: 20px;
    background-color: rgba(255, 255, 255, 0.11);
}

.menu li {
    position: relative;

}

.menu li a {
    color: #fff;
    text-decoration: none;
    padding: 20px;
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: normal;

}

.menu li a:hover {
    opacity: 1;
    color: #16a7f6;
}

/*Efeito botão de menu*/
.menu .linhas-menu:hover::after {
    content: '';
    display: block;
    position: absolute;
    top: 35px;
    width: 100%;
    height: 1px;
    background-color: #16a7f6;
    box-shadow: 0 0 10px #16a7f6;
    animation: barra cubic-bezier(1, 1, 1, 1) 500ms;

}


/*Submenu*/
.menu li ul {
    margin-top: 22px;
    position: absolute;
    background-color: #171a21;
    display: none;
    text-align: center;
    font-size: 11pt;
    list-style: none;
    line-height: 2.5em;

}

/*Submenu*/
.menu li:hover ul {
    display: block;

}


@keyframes barra {
    0% {
        width: 10px;
    }

    50% {
        width: 50px;
    }

    100% {
        width: 100px;
    }

}


/*subcabeçalho*/
.subcabecalho {
    height: 25em;
    background-image: url(https://images.pexels.com/photos/2874066/pexels-photo-2874066.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    opacity: 0.9;
    display: flex;


}


/* tag para selecionar o h1 dentro do subcabeçalho*/

.subtitle h1 {
    color: #fff;
    letter-spacing: 10px;
    font-size: 34px;
    text-shadow: 5px 5px 5px #1d1e1f;
    font-weight: 300;
    margin-top: 7em;
    margin-left: 1em;
    text-transform: uppercase;
    text-align: center;


}

.barra {
    animation: piscarBarra 500ms linear infinite;
}

@keyframes piscarBarra {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.1;
    }

    100% {
        opacity: 0;
    }
}

.container-galeria {
    padding: 40px;
    display: flex;
    justify-content: space-evenly;
    overflow: hidden;
    flex-wrap: wrap;
    position: relative;
    margin-bottom: 188px;
    background-color: #171a21;

}

.foto {
    max-width: 20em;
    height: auto;
    transition: 500ms;
    margin-top: 0.8em;
    border-radius: 3px;

}

.foto:hover {
    filter: brightness(60%);

}

/*legenda imagens */
.imagem figcaption {
    opacity: 0;
    color: whitesmoke;
    position: absolute;
    transition: cubic-bezier(1, 1, 1, 1) 500ms;
    z-index: 2;
    margin-top: -35px;
    margin-left: 1em;
    font-size: 11pt;
    font-weight: normal;
}

.imagem:hover figcaption {
    opacity: 1;

}

/*-------------------------------------*/

footer {
    width: 100%;
    margin: auto;
    font-size: 12pt;
    background-color: #0e1014;
    overflow: hidden;
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    z-index: -100;

}

footer::after {
    content: '';
    display: block;
    height: 1px;
    width: 100%;
    background-color: #ffffff6b;
    position: absolute;
}


.conteudo-rodape {
    text-align: center;
    color: #fff;
    line-height: 2em;
    width: 100%;
    padding: 10px;

}


#report a {
    color: #16a7f6;
    opacity: 0.6;
    border: 1px solid #16a7f6;
    padding: 5px;
    border-radius: 20px;
}


#report a:hover {
    opacity: 1;


}

/*fotos media*/
.conteudo-rodape img {
    width: 60px;
    height: 60px;
    padding: 10px;
    opacity: 0.5;
}

.conteudo-rodape img:hover {
    opacity: 1;

}


/*ícone de coração*/
.fa-heart {
    color: red;
    animation: piscarcoracao 1s linear infinite;
}

@keyframes piscarcoracao {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.1;
    }

    100% {
        opacity: 0;
    }
}

/*ícone café*/
.fa-coffee {
    color: rgb(151, 111, 82);
}

/*ícones menu principal*/
.fa-id-card {
    color: cornflowerblue;

}

.fa-mobile-alt {
    color: cornflowerblue;
}

.fa-images {
    color: cornflowerblue;
}


/*--------------------DONE-------------------------------*/
@media (max-width: 1024px) {

    .foto {

        margin-top: 40px;
    }

    .subtitle h1 {
        font-size: 1.5em;
        line-height: 60px;
        margin-right: 1em;
        margin-top: 7em;
        color: rgb(255, 255, 255);
        border-radius: 5px;
        padding: 2px;
    }

    .conteudo-rodape img {
        width: 65px;
        height: 65px;
    }

    .container-galeria{
        margin-bottom: 198px;
    }
}


/*---------------------DONE-------------------------------*/
@media (max-width: 800px) {

    .subcabecalho {
        height: 390px;
    }

    .subtitle h1 {
        font-size: 1.4em;
        margin-top: 6.5em;
    }


    .conteudo-rodape {
        margin-top: 2.8em;
        position: relative;

    }

    .conteudo-rodape img {
        width: 65px;
        height: auto;
    }

    .imagem figcaption {
        opacity: 1;

    }

    .container-galeria{
        margin-bottom: 320px;
    }

}

/*------------------------DONE-----------------------------*/
@media (max-width: 600px) {

    .subtitle h1 {
        font-size: 20px;
        margin-top: 7em;
        line-height: 40px;
    }

    .cabecalho {
        height: 40px;
        justify-content: center;
        align-items: center;
    }


    .subcabecalho {
        height: 300px;
    }

    .foto {
        max-width: 15em;
        padding: 0;
        margin-block-start: 20px;

    }


    .menu li a {
        font-size: 8pt;
    }


}

/*----------------DONE---------------------------*/
@media (max-width: 480px) {
    .subcabecalho {
        height: 250px;
    }

    .subtitle h1 {
        font-size: 15px;
        margin-top: 8em;
    }

    .menu li a {
        font-size: 7px;
        padding: 12px;


    }

    .barravertical {
        height: 10px;
        margin-top: 5px;
    }

    .container-galeria{
        margin-bottom: 300px;
    }


}

/*-----------------------------------------------------------*/
@media (max-width: 320px) {
    .subtitle h1 {
        font-size: 10px;
        margin-top: 15em;
        line-height: 20px;
    }

    .subcabecalho {
        height: 300px;
    }

    .conteudo-rodape {

        font-weight: lighter;
    }


    .conteudo-rodape img {
        width: 50px;
        height: 50px;

    }

    .menu li a {
        font-size: 5px;
        padding: 12px;
    }

    .barravertical {
        height: 9px;
        margin-top: 5px;
    }

    .container-galeria{
        margin-bottom: 320px;
    }
}