
.subcabecalho-fantasia {
    background-image: url(../background//patron-min.jpg);
    height: 60vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
}

.subcabecalho-fantasia::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.13);
}

.conteudo-subcabecalho-fantasia {
    color: var(--letras);
    text-align: center;
    font-weight: 400;
    position: absolute;
    border-radius: 10px;
    padding: 10px;
}

.subcabecalho-fantasia h1 {
    text-shadow: 5px 5px 5px var(--div-background-color);
    letter-spacing: 5px;
    text-transform: uppercase;
}

.subcabecalho-fantasia h4 {
    letter-spacing: 2px;
    color: var(--letras);

}

.container-galeria_fantasia{
    background-image: url(../sobre-fotos/fundo.jpg);
    width: 100%;
    column-count: 3;
    column-gap: 5px;
    text-align: center;
    overflow: hidden;
    padding: 5%;
    background-attachment: fixed;
    margin-bottom: 250px;

}