* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html,
body {
    width: 100%;
    height: 100%;
    background-image: url(../sobre-fotos/fundo.jpg);
    background-attachment: fixed;
}

body,
textarea {
    color: var(--letras);
    font: 500 1rem poppins;
}

:root {
    --div-background-color: #0c0c0c;
    --details: #8083FF;
    --letras: #F2ECFF;
    --color-caixa-sobre: #24292e;
    font-size: 90%;
}

.barratopo {
    width: 100%;
    height: auto;
    display: flex;
    position: fixed;
    top: 0;
    background-color: var(--div-background-color);
}

/*ul*/
.menu {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: left;
    align-items: center;
}

a {
    color: var(--letras);
}

.menu li {
    margin-left: 40px;
    list-style: none;
    letter-spacing: 1px;
    font: 11pt;
    font-weight: normal;
    text-transform: uppercase;
    padding: 15px;
    border: solid 1px var(--details);
    border-radius: 30px;
}

.menu li:hover {
    opacity: 1;
    background-color: var(--details);
}

.fa-home {
    margin-right: 5px;
}

.box-principal-autor {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
}

.box-sobre-autor::before {
    content: 'Sobre o autor';
    display: flex;
    background-color: var(--details);
    height: 40px;
    align-items: center;
    justify-content: center;
    font-size: 1.70em;
}

.box-sobre-autor {
    background-color: var(--color-caixa-sobre);
    width: 150vh;
    height: auto;
    margin-bottom: 50px;
    margin-top: 6em;
    line-height: 2.3em;

}

.minhafoto {
    width: 200px;
    height: 200px;
    float: left;
    padding: 10px;
    margin-top: 10px;
}

.box-sobre-autor p {
    text-align: left;
    font-size: 1.1em;
    padding: 20px;
    letter-spacing: 1px;
}

.box-principal-site {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
}

.box-sobre-site::before {
    content: 'Sobre o site';
    display: flex;
    background-color: var(--details);
    height: 40px;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-size: 1.70em;
}

.box-sobre-site {
    width: 150vh;
    height: auto;
    background-color: var(--color-caixa-sobre);
    margin-bottom: 50px;
    margin-top: 6em;
    line-height: 2.3em;
}

.box-sobre-site p {
    text-align: left;
    font-size: 1.1em;
    padding: 20px;
    letter-spacing: 1px;
}

.rodape {
    background-color: var(--div-background-color);
    text-align: center;
    padding: 10px;
}

/*ícones*/
.fa-dog {
    color: sandybrown;
}