* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.795);
}

::-webkit-scrollbar {
    width: 10px;
    background: rgba(0, 0, 0, 0.795);
}

::-webkit-scrollbar-thumb {
    background: #6c63ff;
}

html,
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: whitesmoke;
    font-style: none;
    background-color: #171a21;
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;

}

a {
    text-decoration: none;
    color: rgb(197, 124, 71);
}

.voltar {
    display: flex;
    justify-content: center;
    padding: 5px;
    background-color: #00000062;


}

.voltar a {
    text-decoration: none;
    font-size: 20px;
    font-weight: bolder;
    color: whitesmoke;

}

.voltar a:hover {
    transition: 500ms;
    transform: scale(1.2);
    text-shadow: 0 0 20px cornflowerblue;



}

.container-foto {
    display: flex;
    float: left;
    

}

.foto img {
    width: 300px;
    height: 300px;
    border-radius: 200px;
    margin: 10px;

}

.foto img:hover {
    transition: 500ms;
    transform: rotate(360deg);
}

.container-descricao {
    margin: auto;
    width: 100%;
    height: auto;
    border: 3px solid cornflowerblue;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 0 30px cornflowerblue;
    margin-top: 4em;

}

.descricao p {
    text-align: justify;
    font-size: 13pt;
    line-height: 2em;
    padding: 20px;


}

.intro {
    text-align: center;
    font-size: 18pt;
    line-height: 2em;

}

.rodape {
    font-size: 12pt;
    color: rgb(255, 255, 255);
    background-color: #00000062;
    padding: 20px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

/*Logo coração*/
.fa-heart {
    color: red;
}

/*logo café*/
.fa-coffee {
    color: royalblue;
}

/*logo home*/
.fa-home {
    color: royalblue;
    font-size: 1.5em;
}


@media (max-width: 600px) {
    .descricao {
        font-size: 12pt;
        text-align: justify;
    }

    .foto img {
        width: 220px;
        height: 220px;
        
    }

    .intro{
        font-size: 15pt;
       
    }
}