* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: Montserrat, Arial, sans-serif;
    color: whitesmoke;
    font-weight: 400;
    background-color: #171a21;
    scroll-behavior: smooth;
    
}

a{
    text-decoration: none;
    color:rgb(197, 124, 71);
}
.voltar {
    display: flex;
    justify-content: center;
    padding: 5px;
    box-shadow: 0 0 35px rgb(197, 124, 71);
   

}

.voltar a {
    text-decoration: none;
    font-size: 20px;
    font-weight: bolder;
    color: whitesmoke;

}

.voltar a:hover {
    transition: 500ms;
    transform: scale(1.2);
    text-shadow: 0 0 20px cornflowerblue;
    


}

.container-foto {
    margin: 2em;
    display: flex;
    justify-content: center;
    
}

.foto img {
    width: 300px;
    height: 300px;
    border-radius: 200px;
    padding: 10px;
    margin: 20px;
    box-shadow: 0 0 35px cornflowerblue;
}

.foto img:hover {
    transition: 500ms;
    transform: rotate(360deg);
}

.container-descricao {
    margin: auto;
    width: 80%;
    height: auto;
    border: 3px solid cornflowerblue;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 0 35px cornflowerblue;

}

.descricao p{
    text-align: left;
    font-size: 13pt;
    line-height: 2em;
    padding: 20px;
    

}

.intro {
    text-align: center;
    font-size: 18pt;
    line-height: 2em;
     
}

.rodape {
    font-size: 17px;
    color: rgb(255, 255, 255);
    padding: 20px;
    line-height: 1.5em;
     box-shadow: 0 0 35px rgb(197, 124, 71);
     display: flex;
     justify-content: center;
     margin-top: 50px;
}

/*Logo coração*/
.fa-heart {
    color: red;
}
/*logo café*/
.fa-coffee {
    color: royalblue;
}

/*logo home*/
.fa-home{
    color:royalblue ;
    font-size: 1.5em;
}


@media (max-width: 600px) {
    .descricao {
        font-size: 15px;
        text-align: left;
    }

    .container-descricao {
        margin: auto;
        width: 90%
    }

    .foto img {
        width: 220px;
        height: 220px;


    }
}